h1{color: purple;
   text-align: center;
   text-shadow: 5px 5px 5px white;
   padding-top: 20px;
   padding-bottom: 10px;
    
}


p {font-size: 20px;
   font-weight: bold;
   font-style: oblique;
   
}

html {background-color: navy;
     line-height: 1;
     
}


header {
    
    
     
   border-bottom: 3px solid purple;
}   


.letsgetstarted {
    font-size: 150%;
}


h1 { font-size: 400%;
   font-weight: heavy;
}

h3 {text-shadow: 2px 2px white;
    color: purple;
}

h2 { text-align: center;

text-shadow: 2px 2px 2px white;
 color: purple;
}

h4 {text-align: center;
   
    text-shadow: 2px 2px 2px white;
    color:purple;
}







img {
    
    max-width: 20%;
    height: auto;
    display: block;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 5px;
   
 }

.imagetext {
     text-align: center;
    
}



.articlemain {
            max-width: 940px;
            margin-left: auto;
            margin-right: auto;
}


.content-area {
          border-top: 3px solid black;
          border-bottom: 3px solid black;
          width: 100%;
          float: center;
          
}



.orderedlist {
        background-color: #e6ffb3;
        padding: 20px;
        border: 3px solid black;
        font-size: 120%;
        width: 200px;
        height: 150px;
        margin-left: auto;
        background-image: linear-gradient(to bottom, #e6ffb3, white);
          margin-right: auto;
}

.allhtml {
        max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        background-color: white;
        padding: 0px 40px 0px 40px;
        background-image: linear-gradient(to right, lightblue, white);
        
        background-repeat: repeat-x;
        height: 30%;
     
}


.hidden {
     position: absolute;
     height: 0;
     width: 0;
     overflow: hidden;
     visibility: hidden;
}







.section {
       border-top: 3px solid black;
      border-bottom: 3px solid black;
      float: center;

}




.group:before,
.group:after {
      content: "";
      display: table;
}

.group:after {
      clear: both;
}

.group {
     zoom: 1;
}




.sidebar {
        width: 100%;
        float: center;
}
;

.ol{font-size:120%;}
.footer {
       
       text-align: center;
       font-weight: normal;
       color: gray;
       font-style: Serif;
}


.leftwale {float: center;}



a {
   text-decoration: none;
}


.starting {
         
          padding: 10px;
          text-align: center;
          width: 1000px;
          margin-left: auto;
          margin-right: auto;
          font-size: 140%;
          background-image: linear-gradient(to right, lightblue, white);
          
}





.site-nav li {
      
      list-style: none;
      float: center;
      
}

.site-nav {
   margin-top: 20px;
   margin-bottom: 20px;l
   text-align: center;
}

.site-nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.site-nav a:hover {
    background-color: #111;
}

.site-nav a{
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    background-color: #333;
    
    padding: 10px 20px;
    box-sizing: border-box;
}




.aboutme{
    clear: both;
}




.descriptionlist {
          background-color: #e6ffb3;
        padding: 20px;
        border: 3px solid black;
        font-size: 120%;
        width: 200px;
        height: 150px;
        margin-left: auto;
        background-image: linear-gradient(to bottom, #e6ffb3, white);
          margin-right: auto;
}

.ul{
font-size: 140%;
}

.startparah{
text-align: center;
font-size: 150%;
}

